:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --txt-main-color: #212121;
  --txt-second-color: #757575;
  --txt-white-color: #ffffff;
  --accent-color: #2196f3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --button-bg-color-: #f5f4fa;
  --logo-color: #000000;
  --footer-bg-color: #2f303a;
  --border-bottom-color: #ececec;
  --card-border-color: #eeeeee;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--txt-main-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

/* Общие стили */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

/* Стили для хедера */
.header {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--logo-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-right: 93px;
}

/* Навигацыя */
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  padding: 0;
  margin: 0;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding: 32px 0;
  display: block;

  color: var(--txt-main-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Контакты */
.contacts-nav {
  display: flex;
  padding: 0;
  margin-left: auto;
}

.contacts-nav .item + .item {
  margin-left: 50px;
}

.contacts-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding: 32px 0;

  color: var(--txt-second-color);
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

.accent {
  color: var(--accent-color);
}

a {
  text-decoration: none;
}

/* Стили для index.html */

/* Hero */
.hero {
  text-align: center;
  margin-bottom: 94px;

  background-color: var(--secondary-bg-color);
}

.hero .hero-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 30px;

  color: var(--txt-white-color);
}

.button.primary {
  width: 200px;
  height: 50px;

  background-color: var(--accent-color);
  color: var(--txt-white-color);
}

.button.primary:hover,
button.primary:focus {
  border: 1px solid var(--accent-color);

  background-color: var(--button-bg-color-);
  color: var(--txt-main-color);
}

/* Section */
.section-tittle {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.about-us {
  display: flex;
  margin-bottom: 94px;
}

.about-us .item {
  box-sizing: border-box;
  width: 270px;
}

.about-us .item:not(:last-child),
.features-list .item:not(:last-child) {
  margin-right: 30px;
}

.section-text {
  font-size: 14px;
  line-height: 1.71;

  margin: 0;

  color: var(--txt-second-color);
}

/* Fetures */
.features-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.features-list {
  display: flex;
  margin-bottom: 94px;
}

/* Team */
.team {
  background-color: var(--button-bg-color-);
}

.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  background-color: var(--primary-bg-color);
}

.team-card {
  margin-bottom: 30px;
}

.teammate {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.teammate-profession {
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--txt-second-color);
}

/* Footer */
.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: var(--txt-white-color);
}

.footer .logo {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
}

footer {
  background-color: var(--footer-bg-color);
}

address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-bottom: 9px;

  color: var(--txt-white-color);
}

.footer-contacts {
  display: inline-block;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-item .link {
  padding: 0;
}

/* Стили для portfolio.html */
.portfolio-header {
  margin-bottom: 94px;
  border-bottom: 1px solid #ececec;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-buttons .item:not(:last-child) {
  margin-right: 8px;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  cursor: pointer;

  border: transparent;
  border-radius: 4px;

  background-color: var(--button-bg-color-);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--txt-white-color);
}

/* Examples */
.examples .container {
  margin-bottom: 94px;
}

.examples-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: var(--primary-bg-color);
}

.card:nth-child(3n) {
  margin-right: 0;
}

.card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.examples-tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin: 0;
  margin-bottom: 4px;

  color: var(--txt-main-color);
}

.examples-text {
  font-size: 16px;
  line-height: 1.87;

  margin: 0;

  color: var(--txt-second-color);
}

.exaples-content {
  padding: 20px 24px;
  border-right: 1px solid var(--card-border-color);
  border-bottom: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
}
